:root {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb{
  background: var(--scrollbar);
}

body {
  --background-color: white;
  --header-color: #006680ff;
  --text-navbar-color-hover: #006680ff;
  --text-background-color-hover: rgba(0, 0, 0, .2);
  --beranda: url(../image_files/home.png);
  --scrollbar: #006680ff;
  --transisi-delai: 1s;

  margin: 0;
  background-color: var(--background-color);
  transition: var(--transisi-delai);
}

body.dark {
  --background-color: #61787fff;
  --header-color: #003e4dff;
  --text-navbar-color-hover: #003e4dff;
  --text-background-color-hover: rgba(255, 255, 255, .2);
  --beranda: url(../image_files/home_dark.png);
  --scrollbar: rgba(255, 255, 255, 1);
  transition: var(--transisi-delai);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}  

/* HEADER */

header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--header-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .3rem;
}

.logo img {
  height: 1.5rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
}

.nav-links {
  margin: 0 .3rem;
  padding: .5rem 1.25rem;
  text-decoration: none;
  color: rgba(255, 255, 255, .85);
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  border-bottom: .1875rem solid white;
  top: 0;
  left: 0;
  transition: 1s ease;
  opacity: 0;
}

.nav-links.active::after {
  opacity: 1;
  width: 100%;
}

.nav-links.active, .nav-links:active, .nav-links:hover{
  color: rgba(255, 255, 255, 1);
}

.nav-links:hover {
  background-color: var(--text-background-color-hover);
}

.button-img {
  display: none;
}

.theme {
  position: fixed;
  z-index: 5;
  right: 0;
  margin: 0 2.5rem;
}

.theme .theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transisi-delai);
  transform: scale(1.2);
}

.theme-button img {
  height: 1.8rem;
}

.theme-button:hover, .theme-button:active {
  transform: scale(1.55);
}

/* MAIN */
section {
  height: 100vh;
  width: 100%;
}

/* MAIN - Home */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: var(--beranda);
  background-size: cover;
  background-repeat: no-repeat;
  transition: var(--transisi-delai);
}

.home h1{
  margin: 0;
  padding: 25rem 0 0 0;
  font-size: 2.8rem;
  color: rgba(255, 255, 255, 0.9);
}

.home h2{
  margin: 0;
  font-size: 2.1rem;
  color: rgba(255, 255, 255, 0.9);
}

.product, .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.product {
  background-color: #003e4dff;
}

.profile {
  background-color: #006680ff;
}

footer {
  height: 2.5rem;
  width: 100vw;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
}

footer h1 {
  display: block;
  font-size: 1rem;
  text-align: center;
  color: white;
}

/* ukuran dan posisi tombol tema*/
@media all and (max-width: 1300px) {
  .theme {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 15;
    bottom: 0;
    right: 0;
    width: 3.75rem;
    height: 3.75rem;
    margin: .625rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .3rem;
  }
}

/* Media dengan ukuran maksimal 1000px*/
/* Untuk Tablet */
@media all and (max-width: 1000px) {

  /* MAIN - Beranda */
  .home {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .home h1{
    padding: 20vh 0 0 0;
  }
}

/* Media dengan ukuran maksimal 670px*/
/* Untuk Smartphone */
@media all and (max-width: 670px) {

  /* HEADER */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tombol-menu {
    display: flex;
  }

  .theme {
    margin: 1.3rem 1.3rem 5rem 0;
  }

  .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color);
    border-radius: 2rem;
    box-shadow: 0 .25rem .9rem rgba(0, 0, 0, .5);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3.2rem;
    margin: 0 1.3rem 1.25rem 1.3rem;
  }

  .menu {
    min-width: 18rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  .nav-links p {
    display: none;
  }

  .nav-links:hover::after,
  .nav-links:active::after {
    width: 100%;
    opacity: 1;
  }

  .button-img {
    display: inline-block;
    height: 2.2rem;
  }

  /* MAIN - Beranda */

  .home h1{
    padding: 25vh 0 0 0;
    font-size: 1.75rem;
  }

  .home h2{
    font-size: 1.3rem;
  }

  footer {
    height: 10rem;
    align-items: flex-start;
  }

  footer h1 {
    padding: 2.5rem 0 0 0;
  }
}
